.formation-txt {
  font-size: 40px;
  top: 10px;
  font-weight: 100;
  color: #ca5ce6;
  text-shadow: 0 0 0.1em #87F, 0 0 0.1em #87F,0 0 
  0.1em #87F;
}
.formation-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 30vh;
  margin-top: 30px;
}
.formation-container .formation {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.116);
  padding: 20px;
  border-radius: 50px;
}
.formation-container .formation:hover{
  background-color: rgba(255, 255, 255, 0.030);
}
.formation-container .formation .formation-img {
  height: 300px;
  width: 300px;
  border-radius: 40px;
  background: rgb(5, 7, 37);
  background-size: cover;
  background-position: left;
  border: 2px solid #7d0808;
  box-shadow: -1.5px 1.5px #ea1010; 
}
.formation-img .Card-button:hover{
  cursor: pointer;
  opacity: 1;
  color: #fff;
  background-color: #3f51b5;
}
.formation-container .formation .formation-info {
  margin-left: 50px;
  color: #ca5ce6;
  font-family: "Dancing Script";
  max-width: 50%;
}
.formation-container .formation .formation-info .name {
  color: rgb(82, 188, 250);
  text-shadow: 0 0 0.1em rgb(108, 161, 197), 0 0 0.1em rgb(108, 161, 197),0 0 
  0.1em rgb(108, 161, 197);
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
}
.formation-container .formation .formation-info .position {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
}
.formation-container .formation .formation-info .about {
  color: #ffc2ad;
  text-shadow: red 0.1em 0.1em 0.1em;
  margin-top: 40px;
  font-weight: 100;
  font-size: 22px;
}
.formation-container .formation .formation-info .contact-formation {
  background-color: transparent;
  border: 2px solid  #ca5ce6;
  color: #ca5ce6;
  padding: 17px 35px;
  font-size: 22px;
  margin-top: 50px;
  border-radius: 50px;
  position: absolute;
  transition: 0.1s ease;
}
.formation-container .formation .formation-info .contact-formation span {
  text-transform: capitalize;
}
.formation-container .formation .formation-info .contact-formation:hover {
  background-color: #5a4fa1;
  border: 2px solid  #ca5ce6;
}
.img{
  justify-content: center;
  width: 98%;
  height: 100%;
}
.warp{
  position:inherit;
  cursor: pointer;
}
.button {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.5rem 1rem;
  background-color: #3f51b5;
  color: #fff;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 2rem;
  border: 2px solid #3f51b5;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  opacity: 1;  
}

@media (max-width: 425px) {
 .img{
     height: 65%;
  }
}

@media (max-width: 375px) {
     
    .container {
      width: 70%;
      padding: 0;
    }
    .formation-container .formation {
      margin-top: 20px;
      justify-content: center;
      padding: 10px;
      align-items: center;
      width: 100%;
      flex-direction: column;
    }
    .formation-container .formation .formation-info {
      margin-left: 0px; 
      max-width: 80%;
    }
    
    .formation-container .formation .formation-info .about {
      margin-top: 10px;
      margin-bottom: 70px;
    }
    .formation-txt {
      position: absolute;
      top: -1%;
      left: 50%;
      font-size: 40px;
      transform: translate(-50%, -50%);
    }
    .formation-container .formation .formation-info .contact-formation {
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .warp{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .img{
     display: flex;
     transform: rotate(90deg);    
  }
}