#about{
  margin-top: 100px;
  margin-bottom: 100px;
}
.quali-text {
  font-size: 40px;
  top: 10px;
  font-weight: 100;
  color: #ca5ce6;
  text-shadow: 0 0 0.1em #87F, 0 0 0.1em #87F,0 0 
  0.1em #87F;
  display: flex;
  justify-content: center;
  margin-bottom: 20px ;
}
.about-container {
  display: grid;
  padding: 50px;
  border-radius: 10px;
  margin: 0px 50px 0px 50px;
  background: rgba(0, 0, 0, 0.300);
  backdrop-filter: blur(20px);
}
.about-container:hover{
  background: rgba(0, 0, 0, 0.400);
}
.qualifications-container{
  display: flex;
  flex-wrap: wrap;
}
.qualification {
  width: 18%;
  background: rgba(0, 0, 0, 0.500);
  border-radius: 20px;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qualification:hover{
  animation: spin 2s linear infinite;
  border: 2.5px dashed red;
}
@keyframes spin { 
  100% { 
    transform: rotateY(360deg);
  }
}
.qualifications-container .qualification .content {
  height: 75%;
  border-radius: 15px;
  margin-top: 20px;
}
.qualifications-container .qualification h1 {
  font-size: 20px;
  color: rgb(82, 188, 250);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 5px;
}
.qualifications-container .qualification .content.framework {
  font-size: 4rem;
  background-position: center;
  background-size: 66px;
}

@media (max-width: 1024px) {
  .qualifications-container{
    justify-content: center;
  }
  .qualification {
    width: 29%;
  }
}
@media (max-width: 820px) {
  .qualifications-container{
    justify-content: center;
  }
  .qualification {
    width: 29%;
  }
}

@media (max-width: 375px) {
  .about-container {
    overflow: scroll;
    height: 620px;
    display:flex;
    padding: 10px;
    margin: 0px 20px 0px 20px;
  }
 .qualifications-container {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
  }
  .qualification {
    width: 90%;
  }
}