@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  z-index: 1;
}

body {
  border: 1px solid red;
  background: rgb(2, 2, 26);
  min-height: 100vh;
  font-family: "Dancing Script", sans-serif;
  animation: move 1s linear infinite forwards;
}


body::before {
  content: "";
  position: fixed;
  height: 200px;
  width: 200px;
  background: rgb(0, 255, 255);
  filter: blur(140px);
}
body::after {
  content: "";
  position: fixed;
  top: 200px;
  left: 250px;
  height: 200px;
  width: 200px;
  background: rgb(183, 0, 255);
  filter: blur(140px);
}

:root {
  --color-pri: rgb(82, 188, 250);
  --color-pri-light: rgba(82, 188, 250, 0.445);
  --color-sec: rgb(172, 17, 233);
  --color-sec-light: rgba(172, 17, 233, 0.274);
}












.bg-circle1 {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 200px;
  width: 200px;
  background: rgb(0, 255, 255);
  filter: blur(140px);
}
.bg-circle2 {
  position: fixed;
  bottom: 100px;
  right: 250px;
  height: 200px;
  width: 200px;
  background: rgb(183, 0, 255);
  filter: blur(150px);
}
::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  border-radius: 10px;
  width: 75%;
  padding: 10px 40px;
  margin: 5px auto;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}